<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" verbose="2">
	<parameter name="box1_host" value="box1" />
	<parameter name="box1_user" value="vagrant" />
	<parameter name="box1_password" value="vagrant" />
	<parameter name="box1_jdbc_port" value="10000" />
	<parameter name="box2_host" value="box2" />
	<parameter name="box2_user" value="vagrant" />
	<parameter name="box2_password" value="vagrant" />
	<parameter name="box2_jdbc_port" value="10000" />
	<parameter name="hadoop_home" value="/usr/local/hadoop-2.6.0" />
	<parameter name="hive_home" value="/usr/local/apache-hive-1.2.1-bin" />
	<test name="Test1">
		<classes>
			<class name="test.java.AbstractSuite" />
			<class name="test.java.Basic" />
			<class name="test.java.Databases" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
